
#quote-module{
    border-top:rgb(115,113,115) solid 3px;
    padding:10px;
    padding-bottom:0px;
    width:305px;
}

div.name{
    text-transform: uppercase;
    color:rgb(66,65,66);
    font-size:15px;
    width:100px;
}

div.status{
    padding-top:20px;
    height:35px;
}

div.row{
    border-top:lightgray solid 1px;
    height:30px;
}

div.last_row{
    border-bottom:lightgray solid 1px;
}
div.block{
    margin-top:0px;
    height:40px;
    padding-top:7px;
    padding-left:10px;
    width:305px;
}

div.block input{
    border:1px solid lightgray;
    border-radius:5px 0px 0px 5px;
    height:30px;
    width:49%;
    float:left;
}

div.block div.button{
    border:1px solid lightgray;
    border-radius:0px 5px 5px 0px;
    line-height:28px;
    text-align: center;
    width:49%;
    float:right;
    color:rgb(115,113,115);
    background: -webkit-linear-gradient(white, rgb(240,240,240)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, rgb(240,240,240)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, rgb(240,240,240)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, rgb(240,240,240)); /* Standard syntax */
}

div.block div.button:hover{
    cursor:pointer;
    background: -webkit-linear-gradient(rgb(245,245,245), rgb(230,230,230)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(245,245,245), rgb(230,230,230)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(245,245,245), rgb(230,230,230)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(245,245,245), rgb(230,230,230)); /* Standard syntax */    
}

div.date{
    line-height:30px;
    color:gray;
    float:right;
    font-size:13px;
}

div.item{
    float:left;
    line-height:30px;
    color:gray;
    font-size:12px;
}

div.value{
    float:right;
    line-height:30px;
    font-size:15px; 
    font-weight: bold;
}



div.last_price{
    float:left;
    font-size:25px;
}

div.positive_change, div.negative_change{
    float:right;
    font-size:23px;
}

div.positive_change{
    color:green;
}

div.negative_change{
    color:red;
}