
        <div class="name">{{name}}</div>
        <div class="status">
        <div class="last_price">{{last_price}}</div>
        <div class="{{change_class}}">{{change}} ( {{change_percent}})</div>
        </div>
        {{#block items}}
        <div class="row">
            <div class="item">
                {{item}}
            </div>
            <div class="value">
                {{value}}
            </div>
        </div>
        {{#end block items}}
        <div class="row last_row">
            <div class="date">
                As of {{date}}
            </div>
        </div>



             